:root{
    --wrap-width: 300px;
    --wrap-height: 210px;
}

.wrap{
    position: relative;
    width: var(--wrap-width);height: var(--wrap-height);
    padding: 20px;
    cursor: pointer;
}

.background{
    position: absolute;z-index: 1; width: 100%;height: 100%;left: 0;top: 0;
    background-color: #686050;
    background-image: linear-gradient(180deg, #847757, #3e3725);
    box-shadow: 0 20px 20px -12px #0000005c;
}

.top{
    position: absolute;z-index: 6;left: 0;top: 0;
    width: 0;height: 0;
    border-bottom: calc(var(--wrap-height) / 2) solid transparent;
    border-left: calc(var(--wrap-width) / 2) solid transparent;
    border-right: calc(var(--wrap-width) / 2) solid transparent;
    border-top: calc(var(--wrap-width) / 2 - 20px) solid #e1d6bb;
    transform-origin: 0% 0%;
    transform: rotateX(0deg);
}

.mail{
    position: relative;z-index: 2;width: 100%;height: 100%;
    display: flex;flex-direction: column;gap: 4px; align-items: center;justify-content: center;
    background-color: #fff;
}

.text{
    color: #f9f2dd;font-size: 26px;
    font-family: "Pacifico", serif;
}

.left{
    position: absolute;z-index: 5;left: 0;bottom: 0;
    width: 0;height: 0;
    border-bottom: var(--wrap-height) solid #b9a87e;
    border-right: var(--wrap-width) solid transparent;
}

.right{
    position: absolute;z-index: 4;right: 0;bottom: 0;
    width: 0;height: 0;
    border-bottom: var(--wrap-height) solid #99875c;
    border-left: var(--wrap-width) solid transparent;
}
