.wrap{
    position: relative;
    display: flex;gap: 6px;
    align-items: center;
}

.wrap svg{
    cursor: pointer;
}

.input{
    display: none;
}

.label{
    cursor: pointer;
    font-weight: 500;
}
